target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
/portfolio.log
portfolio-report-backups/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
!.idea/runConfigurations
!.idea/copyright

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
