<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Финансовая книга инвестора</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .grey-smaller     { font-size: smaller; color: gray; }
        .grey-small-input { font-size: small;   color: gray; border: 0; }
    </style>
</head>
<body>
<ol>
    <li><a href="reports.html">Загрузить отчеты брокера</a></li>
    <li>
        <a href="#" onclick="document.getElementById('get-portfolio').submit(); return false;">Скачать анализ загруженных отчетов</a>
        <a href="/user-guide/index.html" style="color: gray">[описание формата]</a>
        <form action="/portfolio" method="POST" id="get-portfolio" class="grey-smaller">
            <label>за период с <input id="from-date" name="from-date" type="date" class="grey-small-input"/></label>
            <label>по <input id="to-date" name="to-date" type="date" class="grey-small-input"/></label>
        </form>
    </li>
</ol>
<p class="grey-smaller">
    Ваша версия приложения <span th:text="${buildProperties.version}">не актуальна</span>.
    Проверить обновление можно на
    <a href="https://github.com/spacious-team/investbook/releases/latest" class="grey-smaller">github</a>
    странице проекта. Если вы закончили работу, приложение можно <a href="/shutdown">завершить</a>.
</p>
</body>
<script type="text/javascript">
    document.getElementById('from-date').value = '1997-09-22';
    document.getElementById('to-date').value = '2030-08-30';
</script>
</html>